# Homework 7: Star Schemas and Indexes

***
## SQL Database Design

As mentioned in the [handout](https://docs.google.com/document/d/1bLgZ1cSOwai9DQ5o1BZDHt-s3mow5hhDLFVvnAb5k4M/edit#heading=h.u57jgzt5tmu8), Star Schemas are used commonly for data warehouses. Wikipedia has a short and clear [Star Schema](https://en.wikipedia.org/wiki/Star_schema) article.  This [reference](https://www.guru99.com/star-snowflake-data-warehousing.html) is also good, and describes both star schemas and their connection to snowflake schemas.

In the first part of the assignment, you will develop a **star schema**.

Tips:

1. **Working with flat files/raw data**
   When working with flat files of data it's important to check them out in their raw form (i.e. using a text editor or unix head command if the files are too big for your editor). For tabular data you should review every column and make sure you understand what it represents.  

   For this assignment, we highly recommend you create a markdown cell with the name of every column that is currently in the file. (Copy and paste can be your friend here.)  Often times it you may need to fix the csv file before you import it. 

2. As you do this, sometimes there obvious poblems become apparent, such as header rows that need to skipped over (or deleted), and column names that are inappropriate for the system you are using. 

4. The file 'all_data_raw.csv' has two problems: extra lines at the beginning and inconsitent column names) that you should fix using the text editor. Column names should not contain spaces and should also be consistent.

3. Create a new corrected version of the data file named 'all_data.csv'.

Below is some code that will read an **appropiately** formated csv file and display its contents.  The strings in `all_data.csv` use the `latin1` character encoding.

In [ ]:
import pandas as pd

df = pd.read_csv('all_data.csv', encoding='latin1')
df.head()

### Task 1
Draw a star schema for this dataset, save your drawing as an image and display it in the cell below.

1. Your star schema should consist of one fact table and three dimension tables. 
1. For each table, underline the primary key.
1. Specify data types for each item.
1. Draw 1:N, N:1, N:N or 1:1 on connecting line.
1. Including image in markdown is easy; see [here](https://stackoverflow.com/questions/255170/markdown-and-image-alignment).

Your final drawing should be similar to this [Schema Drawing Example](https://docs.google.com/drawings/d/1Bd1l9LGJZnNQD6BTcZtLHsxWW1a3v07zuUYzz0TyZOk/edit?usp=sharing).

***Solution***
Insert your schema drawing here. (Save your drawing as my_movie_star_schema.jpg)

![Movie Star Schema](my_movie_star_schema.jpg)

### Database Schema Creation

In this part, you will create tables in a Postgres database to match your Star Schema design.

The first thing ones need to do when interacting with a PostgreSQL database from python (and generally any SQL databases) is to open up a connection (see below).

In [ ]:
import psycopg2
import csv

# Create a connection to your hw7 database
DSN = "dbname='hw7' user='student' password=<your_password>"
conn = psycopg2.connect(DSN)
cur = conn.cursor()

In [ ]:
# Test out connection by creating a table of "parts", where each part has a unique name
cur.execute("""
DROP TABLE IF EXISTS parts;
CREATE TABLE parts (
    test_id SERIAL PRIMARY KEY,
    name text,
    price float,
    UNIQUE (name));
    """)
conn.commit()

In [ ]:
# Try some inserts
cur.execute("INSERT INTO parts (name, price) VALUES ('wheel', 10.00);")

# Warmup Exercise: 
# Start psql, and use `select * from parts`, and make note of when the inserts occur as you run this cell and the next two cells.

In [ ]:
cur.execute("INSERT INTO parts (name, price) VALUES ('cover', 3.00);")

# Warmup Exercise: 
# If you start from scratch (i.e., recreate an empty parts table) run the cell above
# and this cell twice, what ends up in parts, and why?

In [ ]:
conn.commit()

In [ ]:
# Delete the test parts table
cur.execute("""DROP TABLE parts""")
conn.commit()

# Warmup Exercise: 
# What happens if you run this cell more than once?  
# Now try changing """DROP TABLE parts""" to """DROP TABLE IF EXISTS parts""" and try rerunning the cell.

### Task 7.2 'create_database'
Fill in function `create_database` with SQL commands do the following:

- [DROP TABLE](https://www.postgresql.org/docs/8.2/sql-droptable.html) in the database. Doing this will allow you to to simply re-run `create_tables` if you want to try a new version of your schema.
- [CREATE TABLE](https://www.postgresql.org/docs/current/sql-createtable.html) according to your star schema. This [Tutorial on Table Creation](https://www.postgresqltutorial.com/postgresql-python/create-tables/) will be helpful.

You may assume the names of actors and directors uniquely identify them. Use the following datatypes: bugdget - BIGINT, imdb_score - float, aspect_ratio - float; the rest are text or int.  Define `PRIMARY KEY`s and `FOREIGN KEY`s in your tables where appropriate, 
refer to [here](https://www.postgresql.org/docs/9.2/ddl-constraints.html).


**Tips:** 
- The [Tutorial on Table Creation](https://www.postgresqltutorial.com/postgresql-python/create-tables/) will help you write a list of appropriate drop and create table commands.
- Many experienced programmers use the `psql` CLI or a tool like `pgAdmin` to develop SQL statements, and then **copy** them into the application program they are developing, with formatting as needed.
- In PostgreSQL [`SERIAL PRIMARY KEY` column](https://chartio.com/resources/tutorials/how-to-define-an-auto-increment-primary-key-in-postgresql/)  is auto-incremented and is thus good for[IDs]

In [ ]:
def create_tables(conn):
    """ create tables in the PostgreSQL database"""
    
    #TODO: fill in DROP TABLE and CREATE TABLE statements as a sequence of
    #strings in the variable named `commands`:

    commands = (
       )
    
    try:
        # read the connection parameters
        # connect to the PostgreSQL server
        conn = psycopg2.connect(DSN)
        cur = conn.cursor()
        # create table one by one
        for command in commands:
            cur.execute(command)
        # close communication with the PostgreSQL database server
        cur.close()
        # commit the changes
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()


conn = psycopg2.connect(DSN)
create_tables(conn)

#### Load and Update

Many database examples begin with different csv files, one for each table. 
However, this isn't how real world data is typically structured when you first receive it. 

Often, you will receive data "dump" files.  As a data scientist, you need to figure out how to do ETL to update this information into a live database.

In [ ]:
df.columns

### Task 7.3: Database Update
Fill in function update_database to insert the csv file contents into the movie database. 

1. Do not assume the database is empty.
2. Inserting the exact same row a second time should not change the database.
3. Work out the SQL statements need; do not use something like Pandas.DataFrame.to_sql().
4. Make your solution independent of COLUMN ORDER in the input CSV.

Tips:
1. Use helper function to avoid redundant code
2. You might working with a lists of column names helpful. 
3. In order to populate the fact table you will need to query the other tables to retrieve each dimension's row id. Here is some SQL code that does this that you are welcome to use:

```sql
        INSERT INTO facts 
        SELECT m.movie_id, d.director_id, a1.actor_id, a2.actor_id, a3.actor_id
        FROM movies m, directors d, actors a1, actors a2, actors a3
        WHERE m.movie_title = %(movie_title)s AND d.director_name = %(director_name)s AND a1.actor_name = %(actor_1_name)s 
        AND a2.actor_name = %(actor_2_name)s AND a3.actor_name = %(actor_3_name)s
        ON CONFLICT DO NOTHING 
```
4. Please wrap your execution statements in try except blocks as we did in create_tables

In [ ]:
import csv
from sqlalchemy import text
from psycopg2 import sql 

def update_database(conn, csv_file):
    reader = csv.DictReader(open(csv_file, encoding='latin1'))
    c = conn.cursor()
    ###BEGIN SOLUTION: 
    #Your solution here
    #insert into dimension tables
    #insert into fact table
    
    
    # for row in reader:
        # iterate through every row in the csv file
        # row contains a dictionary mapping column names to values
        # row = {k: v.lower() for k, v in row.items()}
    
    ###END SOLUTION
    conn.commit()
    
conn = psycopg2.connect(DSN)
create_tables(conn)
update_database(conn, 'all_data.csv')
print("DONE")

***
### Task 7.4: Running Queries

Now that you have created a database with the IMDB data. Your customer needs records that satisfy their requirements based on several constraints in order to improve their business revenue. 
In this part, you will create several SQL statements to extract them. 

IPython supports the use of the magic module called [%sql](https://pypi.python.org/pypi/ipython-sql) which allows us to easily interface with a database. To install, run the cell below; alternatively, during the setup steps for this homework you should have already installed it,  if not, you can
run ```conda install -y -c conda-forge ipython-sql``` to install it now.

The following line will load this SQL extension:

In [ ]:
%load_ext sql

Use this command to connect the IPython shell to your database ```%sql postgresql://<postgres or your username>:<your password>@localhost:5432/<postgres or your database name>```

In [ ]:
%sql postgresql://student:data1050!@localhost:5432/hw7

Your task is to write 10 queries that fetch certain records for your customers. To run SQL queries, first call <font color = "red">%%sql</font> magic and then write your SQL queries.

**Query 7.4.1a: Find the number of directors in the directors table.**

In [ ]:
%%sql


**Query 7.4.1b: Find the number of actors in the actors table.**

In [ ]:
%%sql


**Query 7.4.1c: Find the number of movies in the movies table.**

In [ ]:
%%sql


There should be 1453 directors, 3872 actors, 3023 movies. Please make sure you get the same results before running the following queries.

Now, we can have some fun querying the database!

**Query 7.4.2: Find years that have more than 150 movies and arrange them in ascending order.**

In [ ]:
%%sql


**Query 7.4.3: Order director name from most Facebook likes to fewest Facebook likes and only show top 10 directors.**

In [ ]:
%%sql


**Query 7.4.4: Return the titles of movies directed by Christopher Nolan ordered alphabetically.**

In [ ]:
%%sql

**Query 7.4.5: Find all the directors who directed at least 5 movies since 2007 (included) sorted by the number of movies in descending order.**

In [ ]:
%%sql


**Query 7.4.6: Find the top five most productive actors since 2010 (included). "Number of appearances" is the most common metric choice but feel free to go with any of them. Include a short comment in the query to explain the metric you pick**

In [ ]:
%%sql

***
### Query Optimization
In this part, we will see how to optimize database access by indexing and using materialized views. 

The next three functions create and exercise a toy database.
`setup_test` creates a connection to the database.  `insert_test` performs `num` SQL `SELECT`s, the  function `select_test` does `num` SQL `INSERT`s.

In [ ]:
def setup_test(conn):
    c = conn.cursor()
    c.execute('DROP TABLE IF EXISTS scripts CASCADE')
    c.execute('''
            CREATE TABLE scripts (
                script_id SERIAL PRIMARY KEY,
                author_name text,
                script_name text
                )
                ''')
    conn.commit()
                

def insert_test(conn, num):
    c = conn.cursor()
    for i in range(num):
        c.execute('''INSERT INTO scripts (author_name, script_name) VALUES ('X', 'Magic %s')''',(i,))
    conn.commit()

def select_test(conn, num):
    c = conn.cursor()
    for i in range(num):
        c.execute("SELECT * FROM scripts WHERE script_name = 'Magic %s' ",(i,))
    conn.commit()

Below is some code for benchmarking your database.  Run it to see how well your database currently performs.

In [ ]:
conn = psycopg2.connect(DSN)
setup_test(conn)
num_inserts = 15000
num_selects = 500

In [ ]:
%timeit -n 3 -r 3 insert_test(conn, num_inserts)

In [ ]:
%sql SELECT count(*) from scripts;

In [ ]:
%sql select pg_relation_size('scripts');

In [ ]:
%timeit -n 3 -r 3 select_test(conn, num_selects)

Optimize the database so that `test_select` test performs more quickly by adding and INDEX.  Fill in the appropriate SQL commands in the cell below.  

Hint: See [here](https://www.postgresql.org/docs/9.1/sql-createindex.html) for some information on  `INDEX` and `CREATE INDEX`.

In [ ]:
setup_test(conn)
c = conn.cursor()
###BEGIN SOLUTION: 
#Your solution here
#add index to the scripts relation


###END SOLUTION
conn.commit()

Run the following code to see how your optimization performs.

In [ ]:
%timeit -n 3 -r 3 insert_test(conn, num_inserts)

In [ ]:
%sql SELECT count(*) from scripts;

In [ ]:
%sql select pg_relation_size('scripts');

In [ ]:
%timeit -n 3 -r 3 select_test(conn, num_selects)

### Task 7.5: Index trade-offs
**Describe** and **explain** the performance changes you see when your index is added to the scripts table - what is the effect on the following:
 
* insert speed
* select speed
* storage used

***BEGIN SOLUTION***

Your answer here.

***END SOLUTION***

### Task 7.6: Unique trade-offs (Optional: adds up to 20% to your homework score) 
Explore the UNIQUE constraint's impact on performance when applied to the script.script_name.  You'll probably need to create your own test setup.  At the end of your exploration, add a cell that summarizes your findings similar to way you did for the previous question.

### BEGIN SOLUTION
# Add cells here and below.
### END SOLUTION